* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 5000x;
}

/* \\\\\\\\\\\\\\\\ header-section 1 \\\\\\\\\\\\\\\\\\\\ */

.header-section1 {
    width:  100%;
    height: 55px;
    background-color: rgba(23, 72, 60, 0.82);
    position: fixed;
    top:  0;
    left: 0;
    z-index: 100;
}

.icone-header {
    font-size: 22px;
    padding: 15px 30px;
    color: white;
    float: left;
}

.search-header {
    padding:3px;
}

.search-header input {
    width: 250px;
    height:60%;
    border-radius: 20px;
    margin-top: 7px;
    border: none;
    background-color: #F7F3EA;
    color: #143C34;
}

.search-header i {
    margin-left: -240px;
    color: #143C34;
}

.lists-header {
    color: azure;
    margin-right: 50px;
}

.lists-header >ul >li {
    list-style: none;
    float: right;
    font-size: 14px;
    padding: 14px;
    margin-top: -40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.lists-header li a {
    text-decoration: none;
    color: aliceblue;
    position: relative;
    display: inline-block;
}

.lists-header li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height:2px;
    background-color: #C3A15F;
    transition: 0.5s;
}

.lists-header li a:hover::after {
    width: 100%;
}

.blog-dropdown {
    position: relative;
}

.dropdown-header li {
    list-style: none;
    padding: 14px 14px;
}

.dropdown-header li a {
    color: #143C34;
}

.dropdown-header {
    width: 170px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    border-radius: 10px;
    visibility: hidden;
    transition: 0.2s;
}

.blog-dropdown:hover .dropdown-header {
    visibility: visible;
}

/* \\\\\\\\\\\\\\\\ container-section 1 \\\\\\\\\\\\\\\\\\\\ */

.container-section1 {
    width:  100%;
    height: 100vh;
    background-image: url(../images/container-section1.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}

.container-section1::before {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
    background-color: rgba(5, 7, 6, 0.55);
    z-index: 0;
}

.content-section1 {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    z-index: 1;
}

.title-content-section1 {
    font-size: 75px;
    color: #F7F3EA;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-content-section1 {
    color: #E8E5DC;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;

}

.content-section1 .btn {
    padding: 16px;
    border-radius: 18px;
    font-size: 20px;
    border: none;
    margin: 5px;
}

.content-section1 .btn:hover {
    opacity: 0.8;
}

.btn-left-content-section1 {
    background-color: #C3A15F;
    color: #143C34;
}
.btn-right-content-section1 {
    background-color: #F7F3EA;
    color: #143C34;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 2 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section2 {
    width:  100%;
    height: 100vh;
    position: relative;
}

.title-content-section2 {
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 80px 0px 10px 0px;
    color: #143C34;
}

.line-content-section2 {
    width: 90px;
    height:3.5px;
    background-color: #C3A15F;
    margin: auto;
}

.boxs-section2 .box-section2 {
    width: 20%;
    height: 220px;
    border: 1px solid #17483C;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.icone-box1-section2 , .icone-box2-section2 , .icone-box3-section2 {
    font-size: 30px;
    color: #C3A15F;
    margin: 16px;
}

.box-section2 h2 {
    font-size: 25px;
    color: #143C34;
    margin: 16px;
    font-family: Arial, sans-serif;
}

.box-section2:hover .title-boxs-section2 {
    color: #A47F3F;
}

.box-section2 p {
    font-size: 15px;
    color: #737A76;
    margin: 16px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.box-section2 a {
    font-size: 17px;
    color: #A47F3F;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.boxs-section2 {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
}

.box2-section2 {
    margin: 0 5%;
}

.box-section2::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #DFEAE5;
    transition: 0.5s;
    border-radius: 10px;
    z-index: -1;
}

.box-section2:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition:0.5s;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 3 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section3 {
    width:  100%;
    height: 100vh;
    background-color: #DFEAE5;
}

.title-content-section3 {
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 80px 0px 10px 0px;
    color: #143C34;
}

.line-content-section3 {
    width: 90px;
    height:3.5px;
    background-color: #C3A15F;
    margin: auto;
}

.item-section3 {
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.items-section3 {
    width: 1000px;
    margin: 50px auto;
}

.item2-section3 , .item5-section3 {
    margin: 0 3% 0 3%;
}

.item1-section3  {
    margin: 0 0 3% 0;
}

.item-section3 img {
    width: 100%;
    height: 100%;
}

.overlay-section3 {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
}

.item-section3:hover .overlay-section3 {
    visibility: visible;
    background-color: rgba(20, 60, 52, 0.70);
}

.item-section3  h2 {
    font-size: 30px;
    color: #C3A15F;
    margin:30px;
    font-family: Arial, sans-serif;
}

.item-section3 p {
    font-size: 15px;
    color: #DFEAE5;
    margin:30px;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.item-section3 a {
    font-size: 20px;
    color: #C3A15F;
    background-color: #DFEAE5;
    padding: 5px 10px;
    border-radius: 5px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 4 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section4 {
    width:  100%;
    height: 100vh;
}

.title-content-section4 {
    text-align: center;
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 90px 0px 10px 0px;
    color: #172720;
}

.line-content-section4 {
    width:  90px;
    height: 3.5px;
    background-color: #C3A15F;
    margin: auto;
}

.boxs-section4 {
    width:  1200px;
    margin: 80px auto;
}

.box-section4 {
    width: 335px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #17483C;
    z-index: 1;
    position: relative;
}

.box-section4 .icone-section4 {
    display: inline-block;
    font-size: 35px;
    margin: 20px 10px;
    color: #A47F3F;
}

.box-section4 h2 {
    display: inline-block;
    font-size: 22px;
    color: #0A2C25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 -10px; 
    position: relative;
    top: -7px;
}

.box-section4 p {
    font-size: 14px;
    margin: -10px 50px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    opacity: 0.6;
    line-height: 22px;
}

.box-section4:hover p {
    opacity: 1;
}

.box2-section4 , .box5-section4 {
    margin: 0 7% 3% 7%;
}

.box-section4::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  0;
    height: 0;
    background-color: #DFEAE5;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    border-radius: 10px;
}

.box-section4:hover::after {
    width:  100%;
    height: 100%;
    opacity: 0.95;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 5 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section5 {
    width:  100%;
    height: 100vh;
}

.content-left-section5 {
    width: 50%;
    height: 100vh;
    float: left;
}

.content-right-section5 {
    width: 50%;
    height: 100vh;
    float: right;
}

.title-content-section5 {
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 145px 0px 10px 150px;
    color: #172720;
}

.line-content-section5 {
    width:  75px;
    height: 3px;
    background-color: #C3A15F;
    margin: 0px 0px 10px 150px;
}

.p-content-section5 {
    font-size: 17px;
    padding: 40px 0px 10px 150px;
    line-height: 27px;
    color: #696D6B;
    font-family: Arial, sans-serif;
}

.content-section5 ul {
    padding: 30px 0px 10px 150px;
    list-style: none;
    opacity: 0.6;
    font-family: Arial, sans-serif;
}

.lists-content-section5 li {
    line-height: 37px;
    font-size: 16px;
}

.lists-content-section5 i {
    color: #C3A15F;
}

.img-section5 {
    margin: 110px 100px 10px 100px;
}

.circles-section5 span {
    width:  12px;
    height: 12px;
    background-color: #141816;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
    background-color: #aaa;
}

.circles-section5 {
    margin-left: 270px;
}

.circles-section5 .circle1-section5 {
    background-color: #C3A15F;
}

.circle-section5:hover {
    background-color: #C3A15F;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 6 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section6 {
    width:  100%;
    height: 60vh;
    background-image: url(../images/item2-section3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
    position: relative;
    z-index: 0;
}

.container-section6::before {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    width:  100%;
    height: 100%;
    background-color: rgba(20, 48, 40, 0.72);
    z-index: 1;
}

.content-section6 {
    width: 24%;
    margin: 0;
    text-align: center;
    display: inline-block;
}

.content-overlay-section6 {
    width: 85%;
    top:  50%;
    left: 50%;
    position: absolute;
    z-index: 3;
    transform: translate(-50% , -50%);
    text-align: center;
}

.content-section6 i {
    font-size: 40px;
    color: #C3A15F;
    margin-bottom: 10px;
}

.content-section6 h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.content-section6 p {
    font-size: 14px;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin-top: 2px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 7 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section7 {
    width:  100%;
    height: 100vh;
}

.title-content-section7 {
    text-align: center;
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 80px 0px 10px 0px;
    color: #172720;
}

.p-content-section7 {
    width:  90px;
    height: 3.5px;
    background-color: #C3A15F;
    margin: auto;
}

.cards-section7 {
    text-align: center;
}

.card-section7 {
    width: 334px;
    height: 400px;
    border: 1px solid #17483C;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.card2-section7 {
    margin: 80px 70px;
}

.card-section7 h2 {
    margin: 40px 0 30px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #6e716f;
}

.card-section7:hover h2 {
    color: #0a2c25;
}

.card-section7 span {
    display: inline-block;
    width:  100px;
    height: 100px;
    border: 2px solid #C3A15F;
    border-radius: 50%;
    color: #172720;
    margin: 0px 0;
}

.card-section7 span b {
    display: block;
    font-size: 28px;
    font-family: Arial, sans-serif;
    margin-top: 26px;
    color: #172720;
}

.card-section7 span small {
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.card-section7 p {
    line-height: 25px;
    color: #737A76;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 15px 0;
}

.card-section7 button {
    padding: 7px 12px;
    margin: 5px 0;
    border: 2px solid #C3A15F;
    border-radius: 8px;
    background-color: white;
}

.card-section7::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 0;
    background-color: #DFEAE5;
    transition: 0.5s;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
}

.card-section7:hover:after {
    width:  100%;
    height: 100%;
    opacity: 0.75;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 8 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section8 {
    width: 100%;
    height: 400px;
    background-image: url(../images/item3-section3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.overlay-section8 {
    width: 100%;
    height: 100%;
    background-color: rgba(4, 34, 28, 0.79);
    position: relative;
}

.content-overlay-section8 {
    width: 75%;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.content-overlay-section8 img {
    border-radius: 50%;
    float: left;
}


.content-left-section8 {
    width:  55%;
    float: left;
}

.content-right-section8 {
    width:  45%;
    float: left;
}

.div1-content-section8 {
    padding: 20px 0 0 110px;
}

.div1-content-section8 h2 {
    color: white;
    font-size: 20px;
}

.div1-content-section8 h3 {
    color: #DFC181;
    font-size: 18px;
}

.content-section8 p {
    padding-top: 40px;
    color: #E4E7E5;
    font-size: 14px;
    line-height: 1.6;
    width: 80%;
}

.content-section8 , p {
    font-family: Arial, sans-serif;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 9 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section9 {
    width:  100%;
    height: 100vh;
}

.title-content-section9 {
    font-size: 44px;
    text-align: center;
    padding: 80px 0px 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #172720;
}

.line-content-section9 {
    width:  90px;
    height: 3.5px;
    background-color: #C3A15F;
    margin: auto;
}

.cards-section9 {
    text-align: center;
    margin-top: 70px;
}

.card2-section9 {
    margin: 0px 5%;
}

.card-section9 {
    width: 334px;
    height: 400px;
    background-color: #ECECEA;
    display: inline-block;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

.card-section9:hover h2 {
    color: #FFFFFF;
}

.card-section9 p {
    color: #7D7D7D;
    font-size: 12px;
    padding-top: 7px;
    text-transform: uppercase;
}

.card-section9:hover p {
    color: #E3C78E;
}

.card-section9::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 0;
    background-color: #17483C;
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
}

.card-section9:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.overlay-section9 {
    position: relative;
    margin: 20px auto;
}

.icone-card-section9 {
    position: absolute;
    top:  0px;
    right: 18px;
    z-index: 2;
}

.icone-card-section9 i {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #17483C;
    display: block;
    padding: 10px;
    opacity: 0;
}

.card-section9:hover i {
    opacity: 1;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 10 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section10 {
    width:  100%;
    height: 100vh;
    background-color: #E5E0D5;
}

.title-content-section10 {
    font-size: 44px;
    text-align: center;
    padding: 80px 0px 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #172720;
}

.line-content-section10 {
    width:  90px;
    height: 3.5px;
    background-color: #C3A15F;
    margin: auto;
}

.card-section10 {
    width: 350px;
    height: 460px;
    background-color: #fff;
    display: inline-block;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

.cards-section10 {
    text-align: center;
    margin-top: 80px;
}

.card2-section10 {
    margin: 0 50px;
}

.card-section10 img {
    margin-top: 15px;
}

.icons-card1-section10 i {
    color: #C3A15F;
    font-size: 15px;
}

.icons-card1-section10 span {
    font-size: 11px;
}

.icons-card1-section10 {
    margin: 15px 0;
    
}

.card-section10 h2 {
    margin: 15px 0;
    color: #172720;
}

.card-section10 p {
    margin: 15px 0;
    color: #5a5858;
}

.card-section10::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 0;
    background-color: #dfeae5;
    transition: 0.55s;
    z-index: -1;
    opacity: 0;

}

.card-section10:hover::after {
    width:  100%;
    height: 100%;
    opacity: 0.85;
}

.card-section10 a  {
    color: #C3A15F;
    text-decoration: none;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ section 11 \\\\\\\\\\\\\\\\\\\\\\\ */

.container-section11 {
    width: 100%;
    height: 40vh;
    background-color: #062E27;
    text-align: center;
}

.logo-section11 h2 {
    font-size: 35px;
    padding: 55px 0 40px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F7F3EA;
}

.logo-section11 span {
    color:#C3A15F;
}

.icons-section11 a {
    background-color: #17483C;
    font-size: 20px;
    border-radius: 50%;
    padding: 17px;
    margin: 10px 4px;
    transition: 0.3s;
}

.icons-section11 i  {
    color: #ffffff; 
}

.p-section11 {
    color: #B8B8B8;
    margin: 40px 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.icons-section11 a:hover  {
    background-color: #C3A15F;
}

.icons-section11 a:hover i {
    color: #0A2C25;
}

